#{extends 'main.html' /} #{set title:'EditProfile'/}
 
<nav class="ui inverted teal menu">
	<a class="item" href="/">Welcome</a> 
	<a class="item" href="/signup"> Sign Up</a>
	<a class="item" href="/login"> Login</a> 
	<a class="item" href="/inputData">Input data</a>
	<a class="item" href="/renderReport">Report data</a>
	<a class="item" href="/contact">Contact</a>
	<a class="active item" href="/EditProfiles">Edit Profile</a>
	<a class="item" href="/logout">Log Out</a>
</nav>
<h2 class="ui blue header"> Please Edit the Landlord Detail</h2>

  
<section class="ui form segment">
	<form action="/changeDetails" method="POST">
	  <div class="two fields">
	    <div class="field">
	      <label>First Name</label>
	      <input placeholder="First Name" type="text" name="firstName">
	    </div>
	    <div class="field">
	      <label>Last Name</label>
	      <input placeholder="Last Name" type="text" name="lastName">
	    </div>
	  </div> <div class="two fields">
						<div class="field">
						    <label> Address Line 1 </label>
							<input placeholder="address1" name="address1"
								type="text" required>
						</div>
						<div class="field">
						      <label> Address Line 2</label>
							<input placeholder="address2" name="address2"
								type="text" required>
						</div>
					</div>

					<div class="two fields">
						<div class="field">
						   <label> City </label> 
							<input placeholder="city" name="city" type="text"
								required>
						</div>
						<div class="field">
						    <label>County </label>
							<input placeholder="county" name="county" type="text"
								required>
						</div>
					</div>
	  	  
    <div class="field">
	    <label>Email</label>
	    <input placeholder="Email" type="text" name="email">
	  </div>
	  <div class="field">
	    <label>Password</label>
	    <input type="password" name="password">
	  </div>
	  <button class="ui blue submit button">Edit Details</button>
	</form>
	 <i class="right triangle icon"></i>
	<a href="/welcome/index">Return Home </a>
</section>  

<script src="/public/javascripts/editDetails.js" type="text/javascript" charset="utf-8"></script>
 <script src="/public/javascripts/map.js" type="text/javascript" charset="utf-8"></script>