
#{extends 'main.html' /} #{set title:'InputTenantData' /}
     
<nav class="ui inverted teal menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui active item" href="/tenants/tenant">Tenant</a> 
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/tenants/logout">Log out</a>
</nav>

<section class="ui segment">
  <div class="ui three column grid">
    <div class="column">
      <section class="ui segment">
      
            <!-- Eircode of exist rental if any -->
            <div class="ui form segment">
            <h5>Existing rental (eircode)</h5> 
            <input readonly value="${TenantEircode}" type="text" name="eircode">
             </div>
      </section>

      <section class="ui segment">
        <h5>Press to end tenancy</h5>
        <form class="ui form" action="/terminateResidence" method="POST">
          <div class="ui fluid form segment">           
            <!-- Terminate a tenancy - if it exists -->
            <button type="submit" class="ui blue fluid submit button">Terminate tenancy</button>
          </div>
        </form>
      </section>

  <!-- Create a new tenancy -->
      <section class="ui segment">
        <h5>Select from vacant residences for new rental</h5>
        <form class="ui form" action="/inputTenantData/Changetenancy" method="POST">
        <section class="ui segment" >
       
         <!-- Dropdown shows list of vacant tenants -->
        <select class="ui fluid dropdown tenant" name = "newResidence" required>
         <option value="" selected>Select Residence</option>
          <div class = "ui list">
          #{list items: allResidences, as: 'res'}
          <option value="${res.id}">${res.eircode}</option>
          #{/list}
          </select>
          <button class="ui blue fluid submit button">Change Tenancy</button>
          
          
        </form>
      </section>
    </div>
    <!-- Search for vacant residences using Google map -->
    <div class="column">
      <form action="/reportVacantResidence" method="POST">
        <section class="ui segment">
          <div id="map_canvas" style="height: 400px;"></div>
          <button type="submit" class="ui fluid blue submit button"
            onclick="requestReportCircle()">Search for vacant
            residences</button>
        </section>
        <div style="visibility: hidden" id="circledata">
          <input type="text" id="radius" name="radius"> 
          <input type="text" id="latcenter" name="latcenter"> 
          <input type="text" id="lngcenter" name="lngcenter">
        </div>
      </form>
    </div>
        
  </div>
  
               
</section>



<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBtlVC_sNyT5CcqdDpnCfQPannxflgWHKQ"></script>
<script src="/public/javascripts/reportMapCircle.js" charset="utf-8"></script>
  </body>

