#{extends 'main.html' /}
 #{set title:'Administrator Configuration Page'
/}


<nav class="ui inverted teal menu">
    <a class="ui item" href="/">Home</a>
    <a class="ui active item" href="/administrators/indexx">Administrator</a>
    <a class="ui item" href="/Administrators/adminReport">Reports</a>
    <a class="ui item" href="/contact">Contact</a>
    <a class="ui item" href="/logout">Log out</a>
    
  </nav>
<section class="ui blue segment">
	<div class="ui grid segment">
		<div class="ui six wide column">
			<h2>Administration page:</h2>
			<h3>Register landlords and tenants</h3>
			<section class="ui segment">

				<a href="/signup"><button class="ui fluid blue submitt button">Register
						landlord</button></a>
			</section>
			<section class="ui segment">
				<a href="/signupp"><button class="ui fluid blue submitt button">Register
						tenant</button></a>
			</section>


			<!-- 	delete landlord from the list -->
			<form class="ui form segment" action="/deleteLandlord" method="POST">
				<select class="ui fluid dropdown LandlordDel" name="email_landlord">
					<option value="" selected>Select a Landlord to delete</option>
					<div class="ui list">
						#{list items: landlord, as:'res'}
						<option value="${res.id}">${res.email}</option>
						#{/list}
					</div>
				</select>
				<section>
					<button class="ui fluid blue submitt button">Delete
						landlord</button>
					<div class="ui error message"></div>
				</section>
			</form>

			<!-- 	delete landlord from the list -->
			<form class="ui form segment " action="/deleteTenant " method="POST">
				<select class="ui fluid dropdown TenantDel" name="email_tenant">
					<option value="" selected>Select a Tenant to delete</option>
					<div class="ui list">
						#{list items: tenants, as:'res'}
						<option value="${res.id}">${res.email}</option>
						#{/list}
					</div>
					
				</select>
				<section>
					<button class="ui fluid blue submitt button">Delete tenant</button>
					<div class="ui error message"></div>
				</section>
			</form>

		</div>
		<div class="ui ten wide column">
			<section class="ui segment">

				<div id="map_canvas" style="width: 500px; height: 380px;"></div>
			</section>
		</div>
	</div>
</section>

</form>
</section>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBtlVC_sNyT5CcqdDpnCfQPannxflgWHKQ"></script>
<script src="/public/javascripts/administratorMap.js" charset="utf-8"></script>



