#{extends 'main.html' /}
 #{set title:'Pie Chart Report'/} 
 

<nav class="ui inverted teal menu">
  <a class="ui item" href="/">Home</a> 
  <a class="ui item" href="/administrators/indexx">Administrator</a>
  <a class="ui item" href="/adminReport">Reports</a> 
  <a class="ui active item" href="/administrators/pieChartReport">Charts</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/administrators/logout">Logout</a>

</nav>

<section class="ui segment">
  <div class="ui two column grid">
    <div class="column">
      <div class="ui segment">
      <h4>List rents</h4>
        <table class="ui table segment">
    <thead>
      <tr>
        <th>Landlord</th>
        <th>Eircode</th>
        <th>Rent</th>
      </tr>
    </thead>
    <tbody>
    #{list items: residences, as:'res'}
          <tr>
          <td>&nbsp${res.from.firstName}&nbsp${res.from.lastName}</td>
          <td>${res.eircode}</td>
		  <td>${res.rent}</td>
	#{/list}
 </tbody>
  </table>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div id="chartContainer" style="width: 100%; height: 300px"></div>
        </div>
    </div>
  </div>
</section>
<script src="/public/javascripts/piechart.js" charset="utf-8"></script> 
<!-- <script src="/public/javascripts/piechart_table.js" charset="utf-8"></script>  -->
<script src="/public/javascripts/jquery.canvasjs.min.js" charset="utf-8"></script>


  </body>

</html>