 #{extends 'main.html' /}
#{set title:'Landlord configuration page' /}

<nav class="ui inverted teal menu">
	<a class="ui item" href="/">Home</a>
  <a class="ui active item" href="/">Landlord</a>   
  <a class="ui item" href="/landlords/logout">Logout</a>
  <a class="ui item" href="/contact">Contact</a>
</nav>

<section class="ui blue segment">
<h4>Landlord configuration page</h4>
	<div class="ui three column grid">
		<div class="column">
			<form action="/inputData" method="GET">
				<div class="ui fluid teal form segment">
					<button type="submit" class="ui fluid blue submit button">Add
						Residence</button>
				</div>
			</form>
			
			
			  <!-- Delete Residence -->	
		
			<form class="ui form segment"  >
			    <div class="ui fluid teal selection dropdown" id="deleteresidence">
				  <input name="deleteresidence" type="hidden">
					<div class="default text">Select residence to delete</div>
					<i class="dropdown icon"></i>
					<div class="menu">
												<div class="item" data-value="W91 X934">W91 X934</div>
												<div class="item" data-value="W23 X433">W23 X433</div>
												<div class="item" data-value="V94 D922">V94 D922</div>
												<div class="item" data-value="F92 DYY9">F92 DYY9</div>
												<div class="item" data-value="G91 X28D">G91 X28D</div>
												<div class="item" data-value="X92 Y433">X92 Y433</div>
												<div class="item" data-value="R95 TDY9">R95 TDY9</div>
												<div class="item" data-value="789u9703">789u9703</div>
												<div class="item" data-value="A94 X439">A94 X439</div>
												<div class="item" data-value="X91 YYX4 ">X91 YYX4 </div>
											</div>
				</div>
			
			 				<div class="ui fluid teal form segment">
          <button type="submit" class="ui fluid blue submit button">Delete residence</button>
        </div>
        <div class="ui error message"></div>
			</form>

		</div>
		<div class="column">

			<form action="/editProfiles" method="GET">
				<div class="ui fluid teal form segment">
					<button type="submit" class="ui fluid  blue submit button">Edit
						Landlord Profile</button>
				</div>
			</form>
			
      <!-- Edit Residence -->
			<form class="ui form segment"  >
				<div class="ui fluid selection dropdown" id="editresidence" >
				  <input name="editresidence" type="hidden">
					<div class="default text">Edit Residence</div>
					<i class="dropdown icon"></i>
					<div class="menu">
												<div class="item" data-value="W91 X934">W91 X934</div>
												<div class="item" data-value="W23 X433">W23 X433</div>
												<div class="item" data-value="V94 D922">V94 D922</div>
												<div class="item" data-value="F92 DYY9">F92 DYY9</div>
												<div class="item" data-value="G91 X28D">G91 X28D</div>
												<div class="item" data-value="X92 Y433">X92 Y433</div>
												<div class="item" data-value="R95 TDY9">R95 TDY9</div>
												<div class="item" data-value="789u9703">789u9703</div>
												<div class="item" data-value="A94 X439">A94 X439</div>
												<div class="item" data-value="X91 YYX4 ">X91 YYX4 </div>
											</div>
				</div>
				
        <div class="ui fluid teal form segment">
          <button type="submit" class="ui fluid blue submit button">Edit residence</button>
        </div>	
        <div class="ui error message"></div>							
			</form>

		</div>
	</div>
</section>
<script src="@{'/public/javascripts/landlord.js'}" type="text/javascript" charset="utf-8"></script>


  