 #{extends 'main.html' /} #{set title:'Landlord configuration page' /}

<nav class="ui inverted teal menu">
	<a class="ui item" href="/">Home</a> <a class="ui active item" href="/configurations/index">Landlord</a>
	<a class="ui item" href="/landlords/logout">Logout</a> <a
		class="ui item" href="/contact">Contact</a>
</nav>

<section class="ui blue segment">
	<h4>Landlord configuration page</h4>
	<div class="ui three column grid">
		<div class="column">
			<form action="/inputData" method="GET">
				<div class="ui fluid teal form segment">
					<button type="submit" class="ui fluid blue submit button">Add
						Residence</button>
				</div>
			</form>

			<!-- Delete Residence -->
			<form class="ui form segment" action="/landlords/deleteresidence" method="POST">
				<select class="ui fluid dropdown" id="deleteresidence" name="eircode"> <option value="" selected>Please select a residence to delete</option>
					#{list items:residences, as:'res'}
					<option value="${res.eircode}">${res.eircode}</option>
					#{/list}
				</select>	
				<div class="ui fluid teal form segment">
					<button class="ui fluid blue submit button">Delete
						residence</button>
				</div>
				<div class="ui error message"></div>
			</form>
		</div>
		
		<div class="column">
			<form action="/editProfiles" method="GET">
				<div class="ui fluid teal form segment">
					<button type="submit" class="ui fluid  blue submit button">Edit
						Landlord Profile</button>
				</div>
			</form>
			
			<!-- Edit Residence -->
			
			<form class="ui form segment" action="/landlords/editresidence" method="POST">
				<select class="ui fluid dropdown" id="editresidence" name="eircode"> <option value="" selected>Please select a residence to edit</option>
					#{list items:residences, as:'res'}
					<option value="${res.eircode}">${res.eircode}</option>
					#{/list}
				</select>
				<div class="ui fluid teal form segment">
					<button class="ui fluid blue submit button">Edit residence</button>
				</div>
				<div class="ui error message"></div>
			</form>
		</div>
				
			
	</div>

</section>
<script src="@{'/public/javascripts/landlord.js'}"
	type="text/javascript" charset="utf-8"></script>


