#{extends 'main.html' /} #{set title:'Login to myRent' /}

<nav class="ui inverted teal menu">
	<a class="item" href="/">Home</a>
	 <a class="item" href="/signup"> Sign Up</a> 
	 <a class="active item" href="/login"> Login</a> 
	 <a class="ui item" href="/inputData">Add Residence</a>
	 <a class="ui item" href="/renderReport">Report</a>
	 <a class="ui item" href="/contact">Contact</a>
	 <a class="ui item" href="/logout">Log Out</a>
</nav>


<h1>Login into your account</h1>
<h3>Your username is the email registered with</h3>

<div class="ui two column grid">
	<div class="eight wide column">
		<div class="ui raised segment">

			<img class="ui small image" src="/public/images/login.jpg">
			
			<section class="ui form segment">
				<form action="authenticate" method="POST">
					<div class="field">
						<label> Email: </label> <input type="text" name="email" required>
					</div>
					<div class="field">
						<label> Password: </label> <input type="password" name="password" required>
					</div>
					<button class="ui blue submit button">Login</button>
				</form>
			</section>
		</div>
		</div>
		<div class="two vide column">
		<h2>Landlord Login Page</h2>
		<img class="ui small image" src="/public/images/landlord.jpg">
	</div>
</div>
		

		
   
   