#{extends 'main.html' /} #{set title:'Signup' /}

<nav class="ui inverted teal menu">
	<a class=" item" href="/">Home</a> 
	<a class="active item" href="/signup"> Sign Up</a> 
	<a class="item" href="/login"> Login</a> 
	<a class="item" href="/inputData">Add Residence</a> 
	<a class="ui item" 	href="/renderReport">Report</a>
	 <a class="ui item" href="/contact">Contact</a>
	 <a class="ui item" href="/logout">Log Out</a>
</nav>

<h1>Create Landlord account</h1>
<h3>Register using a valid email address</h3>

<div class="ui two column grid">
	<div class="eight wide column">
		<div class="ui raised segment">

			<div class="ui fluid form segment">
				<form action="/Landlords/register" method="POST">
					<div class="two fields">
						<div class="field">
						   <label> First name </label>
							<input placeholder="First Name" name="firstName"
								type="text" required>
						</div>
						<div class="field">
						   <label> Last name </Label>
							<input placeholder="Last Name" name="lastName"
								type="text" required>
						</div>
					</div>

					<div class="two fields">
						<div class="field">
						    <label> Address Line 1 </label>
							<input placeholder="address1" name="address1"
								type="text" required>
						</div>
						<div class="field">
						      <label> Address Line 2</label>
							<input placeholder="address2" name="address2"
								type="text" required>
						</div>
					</div>

					<div class="two fields">
						<div class="field">
						   <label> City </label> 
							<input placeholder="city" name="city" type="text"
								required>
						</div>
						<div class="field">
						    <label>County </label>
							<input placeholder="county" name="county" type="text"
								required>
						</div>
					</div>
					<div class="ui left icon input field">
					    <label>Email address </label>
						<input placeholder="Email" name="email" type="text">
						<i class="user icon"></i>
					</div>
					<div class="ui left icon input field">
					    <label>Password </label>
						<input placeholder="Password" type="password"
							name="password"> <i class="lock icon"></i>
					</div>

					<div class="ui column">
						<section class="ui form segment">
							<input type="checkbox" id="/Condition" name="terms"> <label
								for="Condition">I agree to the terms and conditions</label>
					</div>
					<button type="submit" class="ui blue submit button">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div class="two vide column">
		<img class="ui small image" src="/public/images/landlord.jpg">
		<img class="ui large image" src="/public/images/sign-up.jpg">
	</div>
</div>
</section>