 #{extends 'main.html' /} #{set title:'Landlord updateresidence page' /}

<nav class="ui inverted teal menu">
	<a class="ui item" href="/">Home</a> <a class="ui item"
		href="/landlords/landlord">Landlord</a> <a class="ui item"
		href="/contact">Contact</a> <a class="ui item"
		href="/landlords/logout">Logout</a>
</nav>

<section class="ui segment">
	<form class="ui form" action="/landlords/updateresidence" method="POST">
		<!-- <form class="ui form"> -->
		<h4>Please update residence data</h4>
		<div class="ui one column grid">
			<div class="column">
				<!--   The monthly rent  -->
				<div class="ui three column grid">
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Eircode</div>
								<input readonly value="${residence.eircode}" name="eircode" type="text">
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Monthly rent (&euro;)</div>
								<input placeholder="${residence.rent}" name="rent" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- 				<div class="ui fluid form segment"> -->
				<!--        					<div id="notification"></div> -->
				<!--        				</div> -->
				<!--   Submit form button  -->
				<div class="form-actions">
					<button type="submit" class="ui blue submit button">Update
						data</button>

					<!-- 					<div class="ui error message"></div> -->
				</div>
			</div>
		</div>
	</form>
</section>
<script src="/public/javascripts/editPropertyTemplate.js"></script>

</body>
