#{extends 'main.html' /}
 #{set title:'Input Admin data'/}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      
<nav class="ui  inverted teal menu">
   <a class="ui item" href="/">Home</a>
   <a class="ui active item" href="/inputAdminData">Input data</a>
   <a class="ui item" href="/landlords/landlord">Landlord</a>   
   <a class="ui item" href="/contact">Contact</a>
   <a class="ui item" href="/landlords/logout">Logout</a>

 </nav>

<section class="ui segment">      
  <form class="ui form">
    <p>Please input residence data</p>
    <div class="ui three column grid">
      <div class="column">
      
       <div class="ui two column grid">
         <div class="column">
            <div class="ui fluid form segment">         
              <label>Location </label> 
              <!-- <input type="text" id="geolocation" name="residence.geolocation" value="53.347298,-6.268344" readonly class="input-medium">   -->         
              <div class="ui input">
                <input id = "geolocation" value="53.347298,-6.268344" name="residence.geolocation"  type="text" readonly>
              </div>               
            </div>
          </div>
         
         <div class="column">
            <div class="ui form segment">
              <div class="ui fluid labeled input">
                <div class="ui label">
                  Eircode
                </div>   
                <input value="X92 Y433" name="residence.eircode"  type="text">
             </div>
            </div>
          </div>
        </div>
        
        <!--   The monthly rent  -->
        <div class="ui two column grid">
          <div class="column">
            <div class="ui form segment">
              <div class="ui fluid labeled input">
                <div class="ui label">
                  Rent (&euro;)
                </div>   
                <input value="1500" name="rent"  type="text" size="4">
             </div>
            </div>
          </div>
          <!--   The number of bedrooms  -->
          <div class="column">
            <div class="ui fluid form segment">
            
                <!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
                   <div class="ui fluid labeled input">
                <div class="ui label">
                  Number bedrooms:
                </div>   
                <input value="4" name="numbOfBedrooms"  type="text" size=4>
                </div>
            </div>
          </div>
        </div> 
        <!--   Number bathrooms  -->
        <div class="ui two column grid">
          <div class="column">
            <div class="ui form segment">
              <div class="ui fluid labeled input">
                <div class="ui label">
                  Number bathrooms
                </div>   
                <input value="1" name="numberOfBathrooms"  type="text" size=1>
             </div>
            </div>
          </div>
          <!--   Area of residence (m2)  -->
          <div class="column">
            <div class="ui form segment">
              <div class="ui fluid labeled input">
                <div class="ui label">
                  Area (m<sup>2</sup>):
                </div>   
                <input value="2500" name="areaOfResidence"  type="text" size=1em>
             </div>
            </div>
          </div>
        </div>   
        <!--   The residence type  -->    
        <div class="ui fluid form segment">
          <div class="ui selection dropdown">
            <input name="residence.residenceType" type="hidden">
            <div class="text">Residence type</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="flat">Apartment|Flat</div>
              <div class="item" data-value="studio">Studio</div>
              <div class="item" data-value="house">House</div>
            </div>
          </div> 
        </div>
        
        <div class="ui fluid form segment">
          <div id="notification"></div>
        </div>
        
        <!--   Submit form button  -->
        <div class="form-actions">
          <div class="ui blue submit button">Submit Data <i class="add icon"></i></div>
          <div class="ui error message"></div>
        </div>
      </div>            
      <!-- end first column -->
      <!-- The map representing residence location -->
      <div class="column">
        <div class="ui raised fluid form segment">
          <div id="map_canvas" style="width:100%; height:300px; border: 0'" ></div>
        </div>
        <div class="ui raised fluid form segment">
        <div><!-- eircode iframe -->
        <iframe src="https://finder.eircode.ie/#/map" 
        width= "100%" height= "300px"></iframe>
        </div>
        </div>
      </div>
      <!-- 2nd column -->
    </div>
    <!-- class ui two column grid -->
  </form> 
</section>

<script src="/public/javascripts/inputData.js" type="text/javascript" charset="utf-8"></script>
 <script src="/public/javascripts/map.js" type="text/javascript" charset="utf-8"></script>
 
  <style>
 #map_canvas { width : 80%;
 height : 460px;
 border: solid thin #FF0000;
 margin-top: 5px;
 
 }

</style>
