#{extends 'main.html' /} #{set title:'Inputdata' /}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<nav class="ui inverted teal menu">
	<a class="item" href="/">Welcome</a> 
	<a class="active item" href="/inputData">Add Residence</a>
	<a class="item" href="/renderReport">Report data</a>
	<a class="item" href="/contact">Contact</a>
	<a class="item" href="/editProfiles"> Edit Landlord Profile</a>
	<a class="item" href="/logout">Log Out</a>
</nav>

<h3>Please input resident data</h3>

<section class="ui segment">      
  <form class="ui form" action="inputData/datainput" method="POST">
    <p>Please input residence data</p>
    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid form segment">         
          <label>Location </label> 
          <input type="text" id="geolocation" name="geolocation" value="53.347298,-6.268344" readonly class="input-medium">           
          <div class="ui input">
           
          </div>               
        </div>
        
        <!--   The monthly rent  -->
        <div class="ui two column grid">
          <div class="column">
		        <div class="ui fluid form segment">
		          <!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
		          <div class="ui labeled input">
		            <div class="ui label">
		            <label>  Rent (&euro;)</label>;
		            </div>   
                <input value="1500" name="rent"  type="text" size="4">
             </div>
		        </div>
		      </div>
		      <!--   The number of bedrooms  -->
		      <div class="column">
            <div class="ui fluid form segment">
              <!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
              <div class="ui labeled input">
                <div class="ui label">
                  <label> Bedrooms: </label>
                </div>   
                <input value="3" name="numbOfBedrooms"  type="text" size=1>
             </div>
            </div>
          </div>
        </div>   
        
         <!--   No of Bathrooms  -->
        <div class="ui two column grid">
          <div class= "column">
		        <div class="ui fluid form segment">
		          <!-- <label class="control-label"> No of Bathrooms(&euro;): </label>  -->
		          <div class="ui labeled input">
		            <div class="ui label">
		              <label> Bathrooms </label> 
		            </div>   
                <input value="1" name="numberOfBathrooms"  type="text" size="1">
             </div>
		        </div>
		      </div>
		      <!--   Area of Residence -->
		      <div class="column">
            <div class="ui fluid form segment">
              <!-- <label class="control-label"> The area of residence in square meters </label>  -->
              <div class="ui labeled input">
                <div class="ui label">
                  Area
                </div>   
                <input value="3" name="areaOfResidence"  type="text" size=1>
             </div>
            </div>
          </div>
        </div>  
        
          <!--   The residence type  --> 
          <div class="ui two column grid">
          <div class="column"> 
        <div class="ui fluid form segment">
				  <div class="ui selection dropdown">
				    <input name="residenceType" type="hidden">
				    <div class="text">Residence type</div>
				    <i class="dropdown icon"></i>
				    <div class="menu">
				      <div class="item" data-value="flat">Apartment|Flat</div>
				      <div class="item" data-value="studio">Studio</div>
				      <div class="item" data-value="house">House</div>
				    </div>
				  </div> 
        </div>
        </div>
        </div>      
        
        <!--   Submit form button  -->
        <div class="form-actions">
          <div class="ui blue submit button">Submit Data <i class="add icon"></i></div>
          <div class="ui error message"></div>
        </div>
      </div>            
      <!-- end first column -->
      <!-- The map representing residence location -->
      <div class="column">
        <div class="ui raised fluid form segment">
          <div id="map_canvas">
          </div>        
        </div>
      </div>
      <!-- 2nd column -->
    </div>
  </form> 
</section>
<script src="/public/javascripts/inputData.js" type="text/javascript" charset="utf-8"></script>

 <script src="/public/javascripts/map.js" type="text/javascript" charset="utf-8"></script>
 
  <style>
 #map_canvas { width : 100%;
 height : 500px;
 border: solid thin #FF0000;
 margin-top: 5px;
 
 }

</style>

