<!DOCTYPE html>
<html>

<head>
<title>Contact</title>
<meta charset="utf-8">
<link rel="stylesheet" media="screen"
	href="/public/semantic/semantic.min.css">
<script src="/public/javascripts/jquery-2.1.1.js" type="text/javascript"
	charset="utf-8"></script>
<script src="/public/semantic/semantic.js"></script>
</head>

<body>

	<nav class="ui inverted teal menu">
		<a class="ui item" href="/">Welcome</a> <a class="ui item"
			href="/signup">Sign Up</a> <a class="ui item" href="/login">Log
			In</a> <a class="ui item" href="/inputdata">Input data</a> <a
			class="ui item" href="/renderReport">Report</a> <a
			class="ui active item" href="/contact">Contact</a> <a class="ui item"
			href="/logout">Log Out</a>
	</nav>

	<h1>MyRent</h1>

	<h2>Acknowledgement</h2>

	<p>Thank you for your message.</p>
	<p>We very much appreciate your having taken the time out of your
		busy schedule to contact us.</p>
	<p>We will deal with the issues you have raised and advice you of
		the outcome as soon as possible.</p>
	<p>With best wishes,</p>
	<p>From the MyRent team</p>