#{extends 'main.html' /}
 #{set title:'Input Admin data'/}

	<nav class="ui inverted teal menu">
		<a class="ui item" href="/">Home</a> 
		 <a class="ui active item" href="/contact">Contact</a>
		  <a class="ui item" href="/logout">Log Out</a>
	</nav>
	
	<img class="ui small image" src="/public/images/acknowledgement.jpg">

<div class="ui two column grid">
	<div class="twelve wide column">
		<div class="ui raised segment">

	<h1>MyRent</h1>

	<h2>Acknowledgement</h2>

	<p>Thank you for your message.</p>
	<p>We very much appreciate your having taken the time out of your
		busy schedule to contact us.</p>
	<p>We will deal with the issues you have raised and advice you of
		the outcome as soon as possible.</p>
	<p>With best wishes,</p>
	<p>From the MyRent team</p>
	
	</div>
	</div>
	</div>