#{extends 'main.html' /}
#{set title:'Tenant' /}

  <nav class="ui inverted teal menu">
	<a class="item" href="/">Home</a> 
	<a class="active item" href="/">Tenant</a>
	<a class="item" href="/tenants/signup"> Sign Up</a>
	<a class="item" href="/tenants/loginn"> Login</a>
	</nav>

<section class="ui segment">

<h1> Welcome to Tenant Page </h1>
<h3> Your guide to residential property </h3>

<div class="ui two column grid">
<div class="eight wide column">
<div class="ui raised segment">

   <p> The 2004 Residential Tenancies act gives every landlord and tenant a right to a rent review once each year.  </p>
        <p>  The Act makes it illegal for a landlord to charge a rent higher than the market rent.</p>
        <p>  If there is a dispute about the market rent, either the landlord or the tenant can take a case to the Private Residential Tenancies Board (the PTRB).</p>
        <p>  The problem with this system is in establishing an objective way of determining the market rent of a property.</p>
        <p>  The purpose of myrent is to gather information on rents from landlords and tenants and allow any registered user to generate a report on the state of the rental market.</p>
        <p>  The success of the project will depend on the willingness of tenants and landlords to provide information about their properties.</p>
        <p>
        <a href="/tenants/login">Log in</a> or <a href="/tenants/signup">create a new account </a> and input your details on the Input Data page. To provide the required information will take just a few minutes of your time.
        
   </p>
   </div>
   </div>
   <div class="two vide column">
   <img class="ui large image" src="/public/images/tenant.jpg">
   </div>
   </div>
   </section>
   
   <style>
#map_canvas {
	width: 100%;
	height: 500px;
	border: solid thin #FF0000;
	margin-top: 10px;
}
</style>
